.conteudo {
    width: 100%;
    text-align: center;
}
.btn {
    margin-top: 100px;
    background-color: rgb(158, 182, 214);
    width: 50%;
    font-size: 40px;
}

button{
    background: rgb(96, 135, 153);
}
body {
   background-color: rgb(175, 187, 238);
}
.tablet {
    display: none;
}
.desktop {
    display: none;
}
.barra {
    width: 100%;
    height: 80px;
    background-color: rgb(48, 64, 97);
    text-align: center;
}
.mobile {
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  rgb(255, 255, 255);

}
@media (min-width: 720px) {
    .barra {
       height: 80px;
       background-color: rgb(48, 64, 97);
    }
    .mobile {
       display: none;
    }
    .tablet {
        display: inline;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 60px;
        color:   rgb(251, 254, 255);
    }
    .conteudo {
        text-align: right;
    }
    .btn {
        margin-top: 100px;
        background-color: rgb(168, 189, 235);
        width: 50%;
        font-size: 40px;
    }
}
@media (min-width:1228px){
    .barra {
        height: 100px;
        background-color:rgb(48, 64, 97);
    }
    .tablet {
        display: none;
    }
    .desktop {
        display: inline;
        font-size: 80px;
        color: rgb(255, 255, 255);
    }
    .conteudo {
        text-align: left;
    }
}
